{% extends 'base.html.twig' %}

{% block body %}
<main class="container">

    {% for message in app.flashes('success') %}
        <p class="alert alert-success">
            {{ message }}
        </p>
    {% endfor %}

    <ul class="property-items">
        <li class="home-text g2">
            <h1 class="display1">Bienvnue à l'Espadrille Volante</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati at, architecto, veritatis sed voluptatum delectus aliquid, natus necessitatibus asperiores dignissimos ad illo cum. Nulla, quas odio tempore maiores deserunt magni?</p>
        </li>
        {% for property in properties %}
            <li>
                <article class="property-item">
                    {% if property.imageFile %}
                        <img src="{{ vich_uploader_asset(property) }}" alt="">
                    {% else %}
                        <img src="{{ property.imageName }}" alt="">
                    {% endif %}
                    <h2>{{ property.type.label }}</h2>
                    <h3>{{ property.type.formatedPrice }} €</h3>
                    <a href="{{ path('property.show', {id: property.id}) }}" class="btn btn-primary">
                        Voir les disponibilité
                    </a>
                </article>
            </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}