{% extends 'base.html.twig' %}

{% block body %}
<main class="container">

    {% for message in app.flashes('success') %}
        <p class="alert alert-success">
            {{ message }}
        </p>
    {% endfor %}

    <ul class="property-items">
        {% for property in properties %}
            <li>
                <article class="property-item">
                    <img src="{{ vich_uploader_asset(property) }}" alt="">
                    <h2>{{ property.type.label }}</h2>
                    <h3>{{ property.type.formatedPrice }} €</h3>
                    <a href="{{ path('property.show', {id: property.id}) }}" class="btn btn-primary">
                        Voir les disponibilité
                    </a>
                </article>
            </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}