<header class="navbar">

  <nav class="container navbar-nav">

    <a href="{{ path('home') }}">l'Espadrille Volante</a>


    {% if app.user %}
      <p>
        {% if not is_granted('ROLE_ADMIN') %}
          <a href="{{ path('admin.property.index') }}">Planifications</a>
        {% else %}
          <a href="{{ path('admin.booking.index') }}">Réservations</a>
          <a href="{{ path('admin.property.index') }}">Biens</a>
          <a href="{{ path('admin.invoice.index') }}">Facturations</a>
        {% endif %}

      </p>
    {% endif %}

    <p>
      {% if not app.user %}

        <a href="{{ path('login') }}">Se connecter</a>
        <a href="{{ path('register') }}">S'inscrire</a>

      {% else %}
        
        {% if is_granted('ROLE_ADMIN') %}
          {{ render(controller(
            'App\\Controller\\AlertController::alert'
          )) }}
        {% endif %}
        
        <a class="btn btn-danger" href="{{ path('logout') }}">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </a>

      {% endif %}
    </p>

  </nav>

</header>